@tailwind base;
@tailwind components;
@tailwind utilities;

.month::before {
	content: '';
	display: -webkit-box;
	display: -ms-flexbox;
	width: 2rem;
	height: 100%;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	background: linear-gradient(to right, rgb(95, 122, 120) 0, rgba(95, 122, 120, 0) 100%);
}

.month::after {
	content: '';
	display: -webkit-box;
	display: -ms-flexbox;
	width: 2rem;
	height: 100%;
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	background: linear-gradient(to left, rgb(95, 122, 120) 0, rgba(95, 122, 120, 0) 100%);
}
